# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np
# from numpy.random import randn

In [2]:
np.random.seed(4)

A = np.random.randn(1000, 6)

In [3]:
A

array([[ 0.05056171,  0.49995133, -0.99590893,  0.69359851, -0.41830152,
        -1.58457724],
       [-0.64770677,  0.59857517,  0.33225003, -1.14747663,  0.61866969,
        -0.08798693],
       [ 0.4250724 ,  0.33225315, -1.15681626,  0.35099715, -0.60688728,
         1.54697933],
       ...,
       [ 0.43070426,  0.87616839,  1.14347131,  0.9189771 ,  0.34254776,
         0.37707228],
       [-0.86057473,  1.1746355 , -0.25612086,  0.52688247, -0.43463247,
        -1.47667399],
       [-0.20842208,  0.91303219, -0.13161945,  1.83659997,  1.12578707,
         0.3227525 ]])

In [4]:
A.shape

(1000, 6)

In [8]:
df = pd.DataFrame(data = A, columns=['A','B', 'C', 'D', 'E', 'F'])

In [10]:
df['A']

0      0.050562
1     -0.647707
2      0.425072
3      0.723342
4      2.223360
         ...
995    1.002837
996    0.284428
997    0.430704
998   -0.860575
999   -0.208422
Name: A, Length: 1000, dtype: float64

In [11]:
df['B']

0      0.499951
1      0.598575
2      0.332253
3      0.046136
4      0.394295
         ...
995    0.428414
996   -0.390559
997    0.876168
998    1.174636
999    0.913032
Name: B, Length: 1000, dtype: float64

In [14]:
df = df[['A', 'B']]

In [15]:
df

            A         B
0    0.050562  0.499951
1   -0.647707  0.598575
2    0.425072  0.332253
3    0.723342  0.046136
4    2.223360  0.394295
..        ...       ...
995  1.002837  0.428414
996  0.284428 -0.390559
997  0.430704  0.876168
998 -0.860575  1.174636
999 -0.208422  0.913032

[1000 rows x 2 columns]

In [21]:
df.head()
## show first 5 rows

          A         B
0  0.050562  0.499951
1 -0.647707  0.598575
2  0.425072  0.332253
3  0.723342  0.046136
4  2.223360  0.394295

In [17]:
df.head(10)

          A         B
0  0.050562  0.499951
1 -0.647707  0.598575
2  0.425072  0.332253
3  0.723342  0.046136
4  2.223360  0.394295
5 -0.651226  0.542451
6  2.087871  0.914841
7 -1.347460 -0.009360
8 -0.196745  0.836529
9 -0.778740  0.179411

In [18]:
df.tail()

            A         B
995  1.002837  0.428414
996  0.284428 -0.390559
997  0.430704  0.876168
998 -0.860575  1.174636
999 -0.208422  0.913032

In [20]:
df.dtypes

A    float64
B    float64
dtype: object

In [22]:
df['A'].min()

-2.9334208182614554

In [24]:
df['A'].max()

3.271119561774992

In [25]:
df['B'].min()

-3.1617159615997714

### Filtering

In [28]:
df[df['A']>=2]

            A         B
4    2.223360  0.394295
6    2.087871  0.914841
10   2.476584  0.352343
53   2.704963  0.090054
86   2.444823 -0.533854
99   2.016347  0.466200
165  2.754803  0.207261
198  2.041915 -1.042554
201  2.104641  1.060566
221  2.812875  2.128891
380  2.230887 -2.696229
397  2.126508  0.053368
418  2.871588 -1.160987
453  2.057126 -0.875581
472  2.012773  1.298775
537  2.070805 -0.692653
562  2.082713 -0.160851
569  2.053913  0.435858
591  2.528943  0.476145
644  2.506882 -0.898301
660  2.986527 -1.213186
738  2.071284  0.321598
750  3.271120  0.363835
768  2.678529 -1.687414
772  2.048404 -0.838575
844  2.022700 -0.594067
845  2.060508 -0.579449
869  2.156778  1.130301
934  2.043798  0.300633
942  2.171999  0.230375
967  2.220263 -1.093665
984  2.194581  0.956569

In [29]:
df[df['A']==2]

Empty DataFrame
Columns: [A, B]
Index: []

In [30]:
# str = object

In [31]:
df[df['A']=='abc']

Empty DataFrame
Columns: [A, B]
Index: []

### df['A']>2 and df['B']>=2

In [34]:
df[(df['A']>=2) & (df['B']>=2)]

            A         B
221  2.812875  2.128891

## iloc

In [36]:
df.head()

          A         B
0  0.050562  0.499951
1 -0.647707  0.598575
2  0.425072  0.332253
3  0.723342  0.046136
4  2.223360  0.394295

In [45]:
df.iloc[[23], ]

           A         B
23 -0.676901 -1.125115

In [43]:
df.iloc[[23, 34, 50, 100,200],  [0] ]

            A
23  -0.676901
34  -0.399414
50   1.194516
100  1.277523
200 -2.231399

In [ ]:
1,  7, 14, 21, 28, ...

In [48]:
df

            A         B
0    0.050562  0.499951
1   -0.647707  0.598575
2    0.425072  0.332253
3    0.723342  0.046136
4    2.223360  0.394295
..        ...       ...
995  1.002837  0.428414
996  0.284428 -0.390559
997  0.430704  0.876168
998 -0.860575  1.174636
999 -0.208422  0.913032

[1000 rows x 2 columns]

In [47]:
df.iloc[::7]

            A         B
0    0.050562  0.499951
7   -1.347460 -0.009360
14  -1.075290  2.022405
21   0.673801  1.026455
28   0.055178 -1.440265
..        ...       ...
966 -1.002799  0.954963
973  0.190101 -0.746559
980  0.745369 -1.612003
987 -0.477612 -0.669005
994 -0.669047  0.683248

[143 rows x 2 columns]

In [ ]:
df.iloc[0::7]

In [50]:
df.iloc[0:101]

            A         B
0    0.050562  0.499951
1   -0.647707  0.598575
2    0.425072  0.332253
3    0.723342  0.046136
4    2.223360  0.394295
..        ...       ...
96  -0.764580  0.118979
97  -1.140773  1.115285
98  -0.109299 -0.756386
99   2.016347  0.466200
100  1.277523  0.125685

[101 rows x 2 columns]

In [51]:
df[0:10]

          A         B
0  0.050562  0.499951
1 -0.647707  0.598575
2  0.425072  0.332253
3  0.723342  0.046136
4  2.223360  0.394295
5 -0.651226  0.542451
6  2.087871  0.914841
7 -1.347460 -0.009360
8 -0.196745  0.836529
9 -0.778740  0.179411

## Loc

In [ ]:
df.shape

In [52]:
df.loc[0:101, [1, 'B']]

KeyError: '[1] not in index'

In [ ]:
df.loc[[500, 600, 700], ['A', 'B']]

In [ ]:
columns = 'A B C D E F'

In [ ]:
columns.split('C')

In [ ]:
df1 =  pd.DataFrame(A, columns=columns.split(), index = np.arange(10, 1010, 1))

In [ ]:
df1

In [ ]:
df = pd.DataFrame(A, columns=['A', 'B', 'C', 'D', 'E', 'F'])

In [ ]:
df[500:510]

In [ ]:
df[1:4:2]

In [ ]:
# sns.histplot(df[0], kde = True)
# plt.show()

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df['A']

In [ ]:
df[100:110]

In [ ]:
df.iloc[100]

In [ ]:
df.iloc[100].sum()

In [ ]:
df['A'].sum()

In [ ]:
df['A'].max()

In [ ]:
df['A'].min()

In [ ]:
df['A'].mean()

In [ ]:
list1 = [20, 35, 30]
list2 = [10, 25,55]
list3 = [5, 10, 75]

In [ ]:
sum(list1)/len(list1)

In [ ]:
df3 = df.loc[0::8, ['A', 'B', 'C']]

In [ ]:
df3

In [ ]:
df3.to_csv('Final Data.csv', index=False)

In [ ]:
sum(list2)/len(list2)

In [ ]:
df

In [ ]:
df['Riel_profit'] = df['F']*4100
df

In [ ]:
profitm_1_2 = df['A'] + df['B']

In [ ]:
profitm_1_2.sum()

In [ ]:
df3 = df.drop(columns= 'A B C D'.split())

### Filtering

In [ ]:
df[df['Riel_profit']>0][['Riel_profit']]

In [ ]:
df[df['Riel_profit']==3940.354231]

In [ ]:
df6 = df[df['Riel_profit']>0]

In [ ]:
df6.to_csv('ABCProfit.csv', index=False)

In [ ]:
df6[['Riel_profit']]

In [ ]:
dataset = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Python_for_Data_Science/main/Dataset/housing_data.csv')

In [ ]:
dataset[dataset['inventory']==1]

In [ ]:
dataset.head(10)

In [ ]:
dataset.tail()

In [ ]:
dataset.dtypes

In [ ]:
np.round(100*dataset.isnull().sum()/len(dataset),2)

In [ ]:
dataset.dropna(inplace=True)

In [ ]:
dataset.columns

In [ ]:
dataset

In [ ]:
dataset = dataset.drop(columns=['age_of_inventory'])

In [ ]:
dataset.drop(columns= ['region_name', 'period_begin'], inplace=True)

In [ ]:
dataset

In [ ]:
dataset.isnull()

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

**Creating a new column:**

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df

** Removing Columns**

In [ ]:
df.drop('new',axis=1)

In [ ]:
# Not inplace unless specified!
df

In [ ]:
df.drop('new',axis=1,inplace=True)

In [ ]:
df

Can also drop rows this way:

In [ ]:
df.drop('E',axis=0)

** Selecting Rows**

In [ ]:
df.loc['A']

Or select based off of position instead of label

In [ ]:
df.iloc[2]

** Selecting subset of rows and columns **

In [ ]:
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['W','Y']]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df>0

In [ ]:
df[df>0]

In [ ]:
df[df['W']>0]

In [ ]:
df[df['W']>0]['Y']

In [ ]:
df[df['W']>0][['Y','X']]

For two conditions you can use | and & with parenthesis:

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df

In [ ]:
# Reset to default 0,1...n index
df.reset_index()

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Group','Num']

In [ ]:
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1',1])

In [ ]:
df.xs(1,level='Num')