##  Buit in Functions, Expression and Variable

### Objectives

After completing this lab you will be able to:

* Write basic code in Python
* Work with various types of data in Python
* Work with Buil in function
* Use expressions and variables to perform operations

### Table of contents
<a id="toc"></a>
- 1. [Built in functions](#build_in_functions)

- 2. [Expression and Variables](#expression_and_varaibles)

    - 2.1  [Expression](#expression)
    
    - 2.2  [Variables](#variables)
    
      - 2.2.1 [Declearing Multple Variable in a Line](#a)
      - 2.2.2 [input function](#input)

### Recall

1. `Integer`: negative, zero and positive numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ....

2. `Float`: It is a real number that can contain a fractional part. For example, 5.3, 3.14159, and 6.0 are all floats.

3. `String`: Text in between quotes -- either single or double quotes -- is a string. For example, 'ABC', "Coding", 'Python Program'

4. `Boolean`: It represents one of two values: `True` or `False`.

You can always check the data type of any variable using the `type()` function. The below example shows how to use the type function in python.
```py
type(10)
type(10.5)
type("abc")

```

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

## Built in functions

<a id='build_in_functions'> </a>

[python documentation](https://docs.python.org/3.9/library/functions.html)

<img src="photos/photo_2023-12-09_21-51-54.jpg" width="600" align="center">

### Expressions and Variables
<a id='expression_and_varaibles'> </a>

<a id='expression'> </a>
Expressions (**Mathematical Operations**): describe a type of operation the computer perform.

#### Python Arithmetic Operators
- **+:** The addition operator

- **-:** The minus operator.

- **\*:** The multiplication operator.

- **/:** The division operator.

- **\**:** The exponentiation operator.

- **%:** The modulus operator.

### Comperison Oparetors

 we use comparison operators to compare two values. We check if a value is greater or less or equal to other value. The following table shows Python comparison operators which was taken from [w3shool](https://www.w3schools.com/python/python_operators.asp).
 
 <img src="photos/photo_2023-12-09_22-33-23.jpg" width="400" align="center">

#### Logical Expressions

<img src="photos/photo_2023-12-09_22-00-08.jpg" width="600" align="center">

<a id='varaible'> </a>
### Variable 
**Python Variable:** is contrainers that store value. Python is not **Statically typed**.\
We do not need to declare variables before using them or declare their type.

Python Variable Name Rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables)

Here are some example of valid variable names:

In [ ]:
firstname 
lastname 
age
country
city
first_name
last_name
capital_city
_if
year_2021
year2021
current_year_2021
birth_year
num1
num2

In [ ]:
##Invalid variables names
first-name
first@name
first$name
num-1
1num

<a id='a'> </a>
### Declaring Mutiple Variable in a Line

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# import pandas as pd, numpy as np

In [ ]:
first_name, last_name, country, age, is_married = 'Manon', 'Ya', 'Phnom Penh', 23, False
first_name = 'Manon'
last_name = ' Ya'
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

In [ ]:
type(last_name)

In [ ]:
type(is_married)

In [ ]:
type(age)

In [ ]:
x = 5
y = 10

In [ ]:
z = x+y
print(k)
print(z)

In [ ]:
k = y-x
print(k)
a = k+z

In [ ]:
a = 1
b = 2

In [ ]:
print('this is:',      a)
print('This is:',                           b)
print( "This is (a - b):", a-b)
print('This is (a * b):', a*b)
print('This is (a+b):', a+ b)

area = 0.5 * base * height

In [ ]:
b = 3221
h = 314813

area = 0.5 * b * h
print('This is Area of Triangle ', area)

In [ ]:
area

area1 = w*h

In [ ]:
w = 23
h = 3
area_1 = h * w
area_1

In [ ]:
# Declaring the variable at the top first

a = 7 # a is a variable name and 3 is an integer data type
b = 6 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum is a built-in function - try to avoid overriding built-in functions
print(total) # if you do not label your print with some string, you never know where the result is coming from
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

### Input Function
`input()` function is used to take user input. By default, it returns the user input in form of a string. input() Function.

In [ ]:
b = 3221.234
h = 314813

area = 0.5 * b * h
print('This is Area of Triangle ', area)

In [ ]:
type
print()

In [ ]:
a = 5

In [ ]:
int('1')

In [ ]:
a = float(input())

In [ ]:
type(a)

In [ ]:
type(a)

In [ ]:
b = 3221
h = 313

area = 0.5 * b * h
print('This is Area of Triangle ', area)

In [ ]:
b = float(input())
h = float(input())

area = 0.5 * b * h
print('This is Area of Triangle ', area)

In [ ]:
a = int(input('Please in the number:'))

In [ ]:
float(input('Please in your age:'))

In [ ]:
b = float(input('Input b:'))
h = float(input('Input h:'))
area = 0.5 * b * h
print('This is Area of Triangle ', area)

In [ ]:
type(a)

In [ ]:
print('== Addition, Subtraction, Multiplication, Division, Modulus ==')
# Declaring values and organizing them together
num_one = float(input('Input num_one:'))
num_two = float(input('Input num_two:'))

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

In [ ]:
total

In [ ]:
diff

In [ ]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

### Exercise

#####  Exercise1:
1. Write a python comment saying `'Day 3: of python programming'`
2. Declare a `first name` variable and assign a value to it
3. Declare a `last name` variable and assign a value to it
4. Declare a `full name` variable and assign a value to it
5. Declare a `country` variable and assign a value to it
6. Declare a `city` variable and assign a value to it
7. Declare an `age` variable and assign a value to it
8. Declare a `year` variable and assign a value to it
9. Declare a variable `is_married` and assign a value to it
10. Declare a variable `is_tru`e and assign a value to it
11. Declare a variable `is_light_on` and assign a value to it
12. Declare multiple variable on one line

##### Exercise2:

1. Check the data type of all your variables using type() built-in function
2. Using the len() built-in function, find the length of your first name
3. Compare the length of your first name and your last name
4. Declare 5 as num_one and 4 as num_two
    - Add num_one and num_two and assign the value to a variable total
    - Subtract num_two from num_one and assign the value to a variable diff
    - Multiply num_two and num_one and assign the value to a variable product
    - Divide num_one by num_two and assign the value to a variable division
    - Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
    - Calculate num_one to the power of num_two and assign the value to a variable exp
    - Find floor division of num_one by num_two and assign the value to a variable floor_division
5. The radius of a circle is 30 meters.
    - Calculate the area of a circle and assign the value to a variable name of area_of_circle
    - Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
    - Take radius as user input and calculate the area.