<div style="text-align: center;">
    <img src="https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/main/Slide/Photo/3.1%20Strings%20contenct%20.jpg" alt="strings" width="800">
</div>

## Table of contents

- [1. Strings](#strings)
    - [Creating a String](#creating-a-string)
- [2. String Concatenation](#string-concatenation)
    - [Escape Sequences in Strings](#escape-sequences-in-strings)
    - [String formatting](#string-formatting)
      - [Old Style String Formatting (% Operator)](#old-style-string-formatting--operator)
      - [New Style String Formatting (str.format)](#new-style-string-formatting-strformat)
      - [String Interpolation / f-Strings (Python 3.6+)](#string-interpolation--f-strings-python-36)
- [3. Python Strings as Sequences of Characters](#python-strings-as-sequences-of-characters)
  - [Unpacking Characters](#unpacking-characters)
  - [Accessing Characters in Strings by Index](#accessing-characters-in-strings-by-index)
  - [Slicing Python Strings](#slicing-python-strings)
  - [Reversing a String](#reversing-a-string)
  - [Skipping Characters While Slicing](#skipping-characters-while-slicing)
- [4. String Methods](#string-methods)

<a id='strings'> </a>
## 1. Strings Basics
Text is a string data type.

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

<a id='creating-a-string'></a>
### 1.1 Creating a String

In [ ]:
type()

Function `type()`

In [ ]:
greeting = 'Hello, World!'

In [ ]:
sentence = "I hope you are enjoying with learning python"
sentence

In [ ]:
sentence1 = ''' I'mIn a sample of 100 on-the-job fata
lities, 90% of the victim
s were men'''

Multiline string is created by using triple single (''') or triple double quotes ("""). See the example below.

In [ ]:
print('''In a sample of 100
on-the-job fatalit
ies, 90% of the vic
tims were men'''
     )

<a id='string-concatenation'></a>
## 2. String Concatenation or String Arithmetic

We can connect strings together. Merging or connecting strings is called concatenation.

See the example below:

In [15]:
print('hello, world')

hello, world

In [17]:
first_name    =  'Manon'
last_name = 'YA'

In [9]:
first_name+1

TypeError: can only concatenate str (not "int") to str

In [10]:
first_name+ ' '+ last_name

'Manon YA'

<a id='escape-sequences-in-strings'></a>
### Escape Sequences in Strings

In Python and other programming languages \ followed by a character is an escape sequence. Let us see the most common escape characters:

- \n: new line
- \t: Tab means(8 spaces)
- \\\\: Back slash
- \\': Single quote (')
- \\": Double quote (")

Now, let us see the use of the above escape sequences with examples.

In [ ]:
print('''Hello
''')

In [17]:
print('Hello\n, world')

Hello
, world

In [ ]:
print('I\'m')

In [ ]:
print('''
I love
cambodia''')

In [ ]:
print('Hello , world')

In [ ]:
print('Hello,\n\n\n\nworld')

In [ ]:
print('Hello \tWorld')

In [ ]:
print('Hello \World')

In [ ]:
print('I love\ncamb\\odia')

In [ ]:
print('I love\ncamb\odia')

In [ ]:
print('I love\n\tcambodia')

In [ ]:
print('I love\n        cambodia')

In [ ]:
print('In Python there are many ways of formatting strings.\n In this section, we will cover some of them. The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), \ntogether with a format string, \nwhich contains normal')

In [ ]:
print('In Python there are \tmany\n ways of')

In [ ]:
print(len('a\ta'))

In [ ]:
print(len('a       a'))

In [ ]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces 
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote


<a id='string-formatting'></a>
### String formatting

#### Old Style String Formatting (% Operator)

In Python there are many ways of formatting strings. In this section, we will cover some of them.
The "%" operator is used to format a set of variables enclosed in a "tuple" (a fixed size list), together with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", "%d", "%f", "%.<small>number of digits</small>f".

- %s - String (or any object with a string representation, like numbers)
- %d - Integers
- %f - Floating point numbers
- "%.<small>number of digits</small>f" - Floating point numbers with fixed precision

In [ ]:
first_name = 'Manon'
last_name = 'Ya'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)

In [ ]:
radius = float(input('Please input the radius:'))
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.3f.' %(radius, area)
formated_string

#### New Style String Formatting (str.format)

This formatting is introduced in Python version 3.

In [ ]:
first_name = 'Manon'
last_name = 'Ya'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)

In [ ]:
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b

In [ ]:
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of a circle with a radius {} is {:.2f}.'.format(radius, area) # 2 digits after decimal
print(formated_string)

#### String Interpolation / f-Strings (Python 3.6+)

Another new string formatting is string interpolation, f-strings. Strings start with f and we can inject the data in their corresponding positions.

In [18]:
print('I love cambodia')

I love cambodia

In [19]:
a = 6

In [22]:
print('I love', a, a,'this is', a 'cambodia', a)

I love 6 cambodia 6

In [24]:
print(f'Hello {a}  {a} world')

Hello 6  6 world

function `input()`

In [30]:
a = float(input())
a

23.2232

23.2232

In [37]:
a = float(input())
b = float(input())
print(f'this is (a + b) {a} + {b} = {a+b}')
print(f'this is {a} - {b} = {a - b}')
print(f'this is {a} * {b} = {a * b}')
print(f'this is {a} / {b} = {a / b:.3f}')
print(f'this is {a} % {b} = {a % b}')
print(f'{a} // {b} = {a // b}')
print(f'{a} ** {b} = {a ** b}')

343
-2342142
this is (a + b) 343.0 + -2342142.0 = -2341799.0
this is 343.0 - -2342142.0 = 2342485.0
this is 343.0 * -2342142.0 = -803354706.0
this is 343.0 / -2342142.0 = -0.000
this is 343.0 % -2342142.0 = -2341799.0
343.0 // -2342142.0 = -1.0
343.0 ** -2342142.0 = 0.0

In [38]:
import math as m

In [47]:
import numpy as np

In [49]:
# n

In [46]:
radius = float(input('Please input the radius:')) # input radius

area = m.pi * (radius ** 2)

formated_string = f'The area of circle with a radius {radius} is: {area}.'
formated_string

Please input the radius:34

'The area of circle with a radius 34.0 is: 3631.681107549801.'

## 3. Python Strings as Sequences of Characters or Indexing, Slicing
<a id='#python-strings-as-sequences-of-characters'></a>


#### Unpacking Characters

In [41]:
language = 'Python' # larnguage is variable
a,b,c,d,e,f = language

### Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

#### Negative Indexing

We can also use negative indexing with strings:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsNeg.png" width="600" align="center">

In [28]:
name = 'Michael Jackson'


#### Accessing Characters in Strings by Index

In **python programming** counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.

If we want to start from right end we can use negative indexing. -1 is the last index.

#### Slicing Python Strings

In python we can slice strings into substrings.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">

#### Stride

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center">

#### Reversing a String

We can easily reverse strings in python.

In [30]:
name[::-1]

'noskcaJ leahciM'

<a id='string-methods'></a>
## 4. String Methods

There are many string methods which allow us to format strings. See some of the string methods in the following example: 
```py
upper(), strip(), split(), replace(), find() , more
```
- **string.upper()** and string.lower(): Returns a new string with all characters in uppercase or lowercase, respectively.

In [34]:
my_string = "Hello, World!"

In [ ]:
upper_case = my_string.upper()  
lower_case = my_string.lower()

- **string.strip()**: Returns a new string with leading and trailing whitespace removed.

In [ ]:
my_string = "   Hello, World!   "
stripped_string = my_string.strip()  # Returns "Hello, World!"

In [ ]:
original_string = "   This is a sample string with leading and trailing spaces.   "
original_string.strip()

- **string.split(separator)**: Splits the string into a list of substrings based on the given separator.

In [ ]:
my_string = "apple,banana,grape"
my_list = my_string.split(",")  
my_list

In [ ]:
my_string = 'apple banana grage'
my_string.split()

In [ ]:
my_string = "apple,banana,grape"
my_string.split(',')

- **string.replace(old, new)**: Returns a new string with all occurrences of 'old' replaced by 'new'.

In [ ]:
my_string = "Hello, World!"
new_string = my_string.replace("Hello", "Hi")

- **string.find(substring)**: Returns the index of the first occurrence of the given substring in the string. Returns -1 if not found.

In [ ]:
my_string = "Hello, World!"
index = my_string.find("World")

- **capitalize():** Converts the first character of the string to capital letter

In [ ]:
challenge = 'thirty days of python'
challenge.capitalize()

- **count():** returns occurrences of substring in string, count(substring, start=.., end=..). The start is a starting indexing for counting and end is the last index to count.

In [ ]:
string1 = 'Hello, hello , hello, how are you?'
string1.count('hello')

- **endswith():** Checks if a string ends with a specified ending

In [ ]:
string2 = "Hello, world!"

result = string2.endswith("!")
result

- **expandtabs()**: Replaces tab character with spaces, default tab size is 8. It takes tab size argument

In [ ]:
string3 = "Hello\tworld!\tThis\tis\ta\ttab\texample."

# Use expandtabs to replace tabs with spaces (default is 8 spaces per tab)
expanded_string = string3.expandtabs()
expanded_string

- **find()**: Returns the index of the first occurrence of a substring, if not found returns -1

In [ ]:
string4 = 'Hello world!'
string4.find('l')

- **rfind()**: Returns the index of the last occurrence of a substring, if not found returns -1

In [ ]:
string4.rfind('l')

- **format()**: formats string into a nicer output  
   More about string formatting check this [link](https://www.programiz.com/python-programming/methods/string/format)

In [ ]:
name = 'Manon'
age = 23
string5 = 'My name is {} and I an {} years old.'.format(name, age)
string5

In [ ]:
string5 = 'My name is {} and I an {} years old {}.'.format(name, age, age, age)
string5

- index(): Returns the lowest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1). If the substring is not found it raises a valueError.

In [ ]:
challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.index(sub_string))  # 7
# print(challenge.index(sub_string, 9)) # error

- rindex(): Returns the highest index of a substring, additional arguments indicate starting and ending index (default 0 and string length - 1)

In [ ]:
challenge = 'thirty days of python'
sub_string = 'da'
print(challenge.rindex(sub_string))  # 8
# print(challenge.rindex(sub_string, 9)) # error


- isalnum(): Checks alphanumeric character

In [ ]:
challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False, space is not an alphanumeric character

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

- isalpha(): Checks if all string elements are alphabet characters (a-z and A-Z)

In [ ]:
challenge = 'thirty days of python'
print(challenge.isalpha()) # False, space is once again excluded
challenge = 'ThirtyDaysPython'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False


- isdecimal(): Checks if all characters in a string are decimal (0-9)

In [ ]:
challenge = 'thirty days of python'
print(challenge.isdecimal())  # False
challenge = '123'
print(challenge.isdecimal())  # True
challenge = '\u00B2'
print(challenge.isdigit())   # False
challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

- isdigit(): Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

In [ ]:
challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True
challenge = '\u00B2'
print(challenge.isdigit())   # True

- isnumeric(): Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

In [ ]:
num = '10'
print(num.isnumeric()) # True
num = '\u00BD' # ½
print(num.isnumeric()) # True
num = '10.5'
print(num.isnumeric()) # False


- isidentifier(): Checks for a valid identifier - it checks if a string is a valid variable name

In [ ]:
challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True



- islower(): Checks if all alphabet characters in the string are lowercase

In [ ]:
challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False


- isupper(): Checks if all alphabet characters in the string are uppercase

In [ ]:
challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True


- join(): Returns a concatenated string

In [ ]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = ' '.join(web_tech)
print(result) # 'HTML CSS JavaScript React'


- strip(): Removes all given characters starting from the beginning and end of the string

In [ ]:
challenge = 'thirty days of pythoonnn'
print(challenge.strip('noth')) # 'irty days of py'


- replace(): Replaces substring with a given string

In [ ]:
challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'


- split(): Splits the string, using given string or space as a separator

In [ ]:
challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']
challenge = 'thirty, days, of, python'
print(challenge.split(', ')) # ['thirty', 'days', 'of', 'python']


- title(): Returns a title cased string

In [ ]:
challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

- swapcase(): Converts all uppercase characters to lowercase and all lowercase characters to uppercase characters

In [ ]:
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON


- startswith(): Checks if String Starts with the Specified String

In [ ]:
challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False