<div style="text-align: center;">
    <img src="https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/main/Slide/Photo/foundation%20%20Programming%20.png" alt="Data Types in Python" width="600">
</div>

## Table of contents
<a id="toc"></a>

- [1. Why is Programming Necessary for Data Science?](#why_prgramming_neccesary_for_datascience?)
- [2. Writing Your First Python Code](#writing_your_first_python_code)
  - [2.1  Using Python as a Calculator](#using_python_as_a_calculator)

- [3. Data Types in Python](#data_types_in_python)
    - [3.1 Number](#number)
        - [Integer](#integer)
        - [Float](#float)
        - [Complex Number](#complex_number)
    - [3.2 Strings](#)
    - [3.3 Sequence](#)
    - [3.4 Dictionary](#)

<a id ='why_prgramming_neccesary_for_datascience?'></a> 
## 1. Why is Programming Necessary for Data Science?

**Proficiency in programming is essential for several reasons.**

- **Manipulate data**
- **implement algorimthms**
- **Automate tasks**.

<a id ='writing_your_first_python_code'></a> 
## 2. Writing Your Frist Python Code

The `print()` function will display a specified value.
```python
print('Hello world')
```

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: To execute (run) the Python code in the code cell below, click on the cell to select it and press <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [55]:
print('Hello world', 'testing', 'you')

Hello world testing you

### 2.1 Using Python as a Calculator

In [79]:
a = 5
b = 3
result = a + b
result+1

9

In [83]:
a = 5
b = 3
result = a - b
result

2

In [85]:
a = 5
b = 3
result = a * b
print(result)

15

In [3]:
232143214124353543535412412412+3214124124214124*23

232143214124427468390269337264

### Exercises Calculate the exercise below:

A.

B.

C.

D.

E.

F.

In [25]:
print('Hello, World')

Hello, World

## 3. Data Types in Python
<a id= 'data_types_in_python'><a/>

<div style="text-align: center;">
    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg" alt="Data Types in Python" width="600">
</div>

Python has the following data types built-in by default
```python
- Numeric Types: integer: int(), float(), complex()
- Sequence Types: Strings(), list(), tuple(), range()
- Mapping Type: dictionary
- Set Types: set(), frozenset
- Boolean Type: bool(True, False)
- None Type: NoneType
```

### 3.1 Number

#### 3.1.1 Integer number

#### 3.1.2 Float number

#### 3.1.3 Complex number

In [104]:
import pandas as pd

In [106]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/main/Dataset/3.%20housing_data.csv')

In [108]:
df

,region_name,period_begin,period_end,total_homes_sold,inventory,active_listings,age_of_inventory,median_active_list_price,months_of_supply
0,"Appling County, GA",2020-04-27,2020-07-19,NaN,1.0,1.0,222.7,136195.8,NaN
1,"Tooele County, UT",2018-08-27,2018-11-18,325.0,NaN,NaN,NaN,NaN,NaN
2,"Johnson County, TX",2019-09-23,2019-12-15,577.0,717.0,778.0,63.0,268737.6,17.095583
3,"Holmes County, OH",2017-10-09,2017-12-31,22.0,52.0,54.0,109.4,115308.3,34.050000
4,"Madison County, FL",2017-01-09,2017-04-02,12.0,54.0,55.0,151.2,158062.5,38.300000
...,...,...,...,...,...,...,...,...,...
622334,"Washita County, OK",2019-11-25,2020-02-16,NaN,4.0,4.0,133.0,46650.0,NaN
622335,"Gray County, TX",2019-02-25,2019-05-19,NaN,1.0,1.0,180.5,62500.0,NaN
622336,"Custer County, OK",2020-02-24,2020-05-17,NaN,15.0,15.0,52.7,130120.8,NaN
622337,"Choctaw County, MS",2019-12-30,2020-03-22,NaN,2.0,3.0,46.0,115268.7,NaN
622338,"Morehouse Parish, LA",2022-02-14,2022-05-08,NaN,30.0,33.0,59.7,139979.1,NaN

### 3.2 Text type or Strings
**Strings** in python are surrounded by either single quotation marks, or double quotation marks.

### 3.3 Sequence Types: list, tuple, range

In [ ]:
## list

In [ ]:
min([2324324, 234234324, 23423342, 234243242, 23432432,42**10])

In [ ]:
## tuple 
(1, 2, 3, 4, 5)

In [141]:
## range 
range(0, 6)

range(0, 6)

### 3.4 Dictionary

In [ ]:
{'name':['Manon', 'Soka']}

In [ ]:
a = {'name':['Manon', 'Soka', 'Sok'],
     'age':[25, 15, 12], 
     'is_married':[False, True,True]}

In [ ]:
r = 12
pi = 3.14
s = pi *  r**2
s

In [ ]:
a = {'name':['Manon', 'Soka', 'Sok'],
     'age':[25, 15, 12], 
     'is_married':[False, True,True]}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(a)

In [ ]:
df['age'].sum()

In [ ]:
df['age'].min()

In [ ]:
df['age'].mean()

In [ ]:
df['age'].max()

In [ ]:
df.dtypes

In [ ]:
type(a)

Take your time to look at the example about `data types` in Python below:

In [ ]:
first_name = "Manon"        # str
last_name = 'Ya'            # str

In [ ]:
type('Manon')

In [ ]:
type(first_name)

In [ ]:
type(last_name)

In [ ]:
country = ['Cambodia']        # str
city= ('Phnom Penh', 'pp')         # str
age = 250                   # int, it is not my real age, don't worry about it

In [ ]:
type(('pp'))

In [ ]:
type(country)

In [ ]:
type(city)

In [ ]:
type(age)

1. What is the Types of the following: 0<br>
    - int
    - float

2. What is the type of the following number 3.1222<br>
    - int 
    - float

In [ ]:
type(3.1222)

In [ ]:
type(int(3.12))

In [ ]:
# Different python data types
# Let's declare variables with various data types

first_name = "Manon"        # str
last_name = 'Ya'            # str
country = 'Cambodia'        # str
city= 'Phnom Penh'          # str
age = 250                   # int, it is not my real age, don't worry about it

In [ ]:
# Printing out types
print(type('Manon'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list

In [ ]:
print(type({'name':'Manon','age':250, 'is_married':250}))       # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))

Take your time to use the `type()` function to check complex number types above.