## Sequences Data Types in Python


<div style="text-align: center;">
    <img src="https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/main/Slide/Photo/4.1%20SEQUENCE%20DATA%20TYPES.jpg" alt="sequence" width="800">
</div>

`Iteration` is going through a collection item-by-item

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-thttps://op/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_https://co/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01ntent=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01: 20px">
  
- [1. Lists](#lists)
    - [1.1 Indexing](#indexing)
    - [1.2 List Operations](#list_operations) 
      - [1.2.1 Membership Tests](#)
      - [1.2.2 Slicing](#)
      - [1.2.3 Unpacking Lists](#)
    - [1.3 Modifying Lists](#)
    - [1.4 List function]()
    - [1.5 List Methods]()
    - [1.6 Nested Lists]()
    - [1.7 Copy Lists]()
- [2. Tuple]()
- [3. Ranges]()
        
</div>

<!-- <h2 id="#dataset">About the Dataset</h2>
 -->

<hr>

<h2 id="lists">1. Lists</h2>

<h3 id="indexing">1.1 Indexing</h3>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an <b>index</b>. An index is used to access and refer to items within a list.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="500">

We can use negative and regular indexing with a list:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="500">

<h3 id="content">List Content</h3>

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [1]:
L = ['Michael Jackson', 10.1, 1982 ]

<h3 id="op">1.2 List Operations</h3>

#### 1.2.1 Membership Test 

```python
in , not in 
```

#### 1.2.2 Slicing

We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1, 3223]

In [ ]:
L[0]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsSlice.png" width="1000">

#### 1.2.3 Unpacking Lists

## List Methods

1. append()
2. extend()
3. insert()
4. index()
5. count()
6. remove()
7. pop()
8. clear()
9. reverse()
10. sort()

### 1.3 Modifying Lists

remove, del

### Extend

We can use the method <code>extend</code> to add new elements to the list:

In [69]:
L = [ "Michael Jackson", 10.2]
L.extend([10])

### Append

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [80]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 2, 3432423, 424])

Each time we apply a method, the list changes. If we apply <code>extend</code> we add two new elements to the list. The list <code>L</code> is then modified by adding two new elements:

In [48]:
# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

If we append the list  <code>\['a','b']</code> we have one new element consisting of a nested list:

In [ ]:
# Use append to add elements to list

L.append(['a','b'])
L

As lists are mutable, we can change them. For example, we can change the first element as follows:

We can also delete an element of a list using the <code>del</code> command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

We can convert a string to a list using <code>split</code>.  For example, the method <code>split</code> translates every group of characters separated by a space into an element in a list:

### insert()
Insert an element at a specific index

In [107]:
L.insert(0, 23)

### index ()
Returns the index of the first occurrence of a value.

### count()
Returns the number of a value on the list

### remove() 
Removes the first occurrence of a value from the list.

### pop() 
Removes and returns the element at a specific index.

### clear()
Removes all elements from the list

### reverse()
Reverses the element of of the list in place.

### sort()
Sort the elements of the list in ascending order.

#### 1.4 Built-in Functions That Can Be Used with Lists

1. len()
2. max()
3. min()
4. sum()
5. sorted()
6. all()
7. list()

**Exercise:** Profit on Vehicles Sold Last Month by the Applewood Auto Group

```py
profits = [
    1387, 2148, 2201, 963, 820, 2230, 3043, 2584, 2370, 1754,
    2207, 996, 1298, 1266, 2341, 1059, 2666, 2637, 1817, 2252,
    2813, 1410, 1741, 3292, 1674, 2991, 1426, 1040, 1428, 323,
    1553, 1772, 1108, 1807, 934, 2944, 1273, 1889, 352, 1648,
    1932, 1295, 2056, 2063, 2147, 1529, 1166, 482, 2071, 2350,
    1344, 2236, 2083, 1973, 3082, 1320, 1144, 2116, 2422, 1906,
    2928, 2856, 2502, 1951, 2265, 1485, 1500, 2446, 1952, 1269,
    2989, 783, 2692, 1323, 1509, 1549, 369, 2070, 1717, 910,
    1538, 1206, 1760, 1638, 2348, 978, 2454, 1797, 1536, 2339,
    1342, 1919, 1961, 2498, 1238, 1606, 1955, 1957, 2700, 443,
    2357, 2127, 294, 1818, 1680, 2199, 2240, 2222, 754, 2866,
    2430, 1115, 1824, 1827, 2482, 2695, 2597, 1621, 732, 1704,
    1124, 1907, 1915, 2701, 1325, 2742, 870, 1464, 1876, 1532,
    1938, 2084, 3210, 2250, 1837, 1174, 1626, 2010, 1688, 1940,
    2639, 377, 2279, 2842, 1412, 1762, 2165, 1822, 2197, 842,
    1220, 2626, 2434, 1809, 1915, 2231, 1897, 2646, 1963, 1401,
    1501, 1640, 2415, 2119, 2389, 2445, 1461, 2059, 2175, 1752,
    1821, 1546, 1766, 335, 2886, 1731, 2338, 1118, 2058, 2487
]
```
1. Calculate and print the maximum profit among all vehicles sold last month.
2. Calculate and print the minimum profit among all vehicles sold last month.
3. Calculate and print the total profit for the month.
4. Calculate and print the average profit.
5. Add value Profit 
```py
[1766, 335, 2886, 1731, 2338, 1118, 2058, 2487]
```

## 2. Tuple


<div style="text-align: center;">
    <img src="https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/main/Slide/Photo/4.2%20tuple.jpg" alt="tuple" width="800
        ">
</div>

## 3. Range

In [ ]:

<div style="text-align: center;">
    <img src="https://raw.githubusercontent.com/ManonYa09/Fundametal_Data_Science_G8/main/Slide/Photo/4.2%20tuple.jpg" alt="tuple" width="800
        ">
</div>